:root {

    /* Cores de texto */
    --cor-textos-1: #003f5c;
    /* Azul escuro */
    --cor-textos-2: #58a6ff;
    /* Azul claro */
    --cor-textos-3: #c0d6e4;
    /* Azul pálido */
    --cor-textos-4: #ffffff;
    /* Branco */

    /* Cores de fundo */
    --cor-fundo-1: #0d1b2a;
    /* Fundo escuro */
    --cor-fundo-2: #06080d;
    /* Azul escuro (modo escuro) */
    --cor-fundo-3: #ffffff;
    /* Fundo claro */
    --cor-fundo-4: #e6f1ff;
    /* Azul claro (modo claro) */
    --cor-fundo-5: #f5fafd;
    /* Fundo suave */

    /* Botão e ícones */
    --cor-botao-1: #0077b6;
    /* Azul vibrante */
    --cor-botao-2: #00b4d8;
    /* Azul mais claro */
    --cor-botao-3: #90e0ef;
    /* Azul muito claro (hover) */
    --sombra-clara: 0px 4px 10px rgba(0, 0, 0, 0.1);
    --sombra-escura: 0px 4px 15px rgba(0, 0, 0, 0.5);

}

.qrcode-display {
    border-radius: 16px;

}

.qrcode-display-scaner {
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    border-radius: 16px;
}


body.light-mode .qrcode-display {
    border: 2px solid var(--cor-fundo-1)!important;
    box-shadow: 1px 1px 20px var(--cor-fundo-1);
  }
  
  body.dark-mode .qrcode-display {
    border: 2px solid var(--cor-botao-1)!important;
    box-shadow: 1px 1px 20px var(--cor-botao-1);

  }


  @media (max-width: 768px) {
    .qr-scaner {
        width: 260px;
        height: 280px;
    }

    .qr-video{
        width: 260px;
        height: 380px;
    }
}

.qr-scaner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 290px;


}




  .qr-video {
    width: 260px;
    height: 290px;
    border-radius: 16px;
    padding: 2px;
}


body.light-mode video {
    border: 2px solid var(--cor-fundo-1)!important;
    box-shadow: 1px 1px 20px var(--cor-fundo-1);
  }
  
  body.dark-mode video {
    border: 2px solid var(--cor-botao-1)!important;
    box-shadow: 1px 1px 20px var(--cor-botao-1);

  }

.qrcode-container-scaner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.qrcode-placeholder-scaner {
    position: relative;
    width: 100px;
    max-width: 400px;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;

}

@media (max-width: 768px) {
    .qrcode-placeholder-scaner {
        height: 200px;
    }
}

.qrcode-black-bg-scaner {
    position: relative;
    width: 100%;
    height: 100%;
}

#reader {
    position: relative;
    padding: 0;
    height: 200px;
    width: 100%;
}

#reader__scan_region {
    width: 200%;
    min-height: 300px;
    text-align: center;
}

.div-button {
    margin: 1.2rem;
}

.sc-fLDLck {
    margin: 1rem;

}


.qrcode-placeholder-scaner img {
    opacity: 0.8;
}

.qrcode-placeholder-scaner img[alt="Camera based scan"] {
    opacity: 0.6;
    max-width: 64px;
    max-height: 64px;
}


.qrcode-result {
    text-align: center;
    margin-top: 20px;
}

.expiration-text {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.qrcode-result a {
    color: #007bff;
    text-decoration: none;
    word-wrap: break-word;
}
